## Creator: Cameron Tacklind
##
## This is the main Makefile for building uC projects. It should only be edited
## to add generic and project specific features. Ideally, there are no real targets
## here. Just variables, or overrides, that the included helper makefiles will use.

# List of C file basenames to build
C =

# List of CPP file basenames to build
CPP = main Board test/Test

all: build #run

run: nrfjprog-flash

UMAKER = uMaker/

# Load local settings
-include local.mk

# Force setting certain make flags
#include $(UMAKER)tools/makeflags.mk

# Optional configuration testing for development
include $(UMAKER)tools/checks.mk

# Defs for our setup
include $(UMAKER)vars/nRF51.mk

# Library targets
#include $(UMAKER)tools/FreeRTOS.mk

# Build targets
include $(UMAKER)tools/build.mk

# Programmer targets
#include $(UMAKER)tools/dfu.mk
include $(UMAKER)tools/nrfjprog.mk

# Directory creation targets
include $(UMAKER)tools/mkdir.mk

.PHONY: all run
